@use 'abstracts/variables' as *;

@use 'base/reset';
@use 'base/scaffolding';
@use 'base/theme';
@use 'base/typography';

@use 'components/action-input-view';
@use 'components/action-queue-item';
@use 'components/alert-banner';
@use 'components/asset';
@use 'components/asset-row';
@use 'components/assets-table';
@use 'components/button';
@use 'components/connect-wallet-modal';
@use 'components/connected-wallet';
@use 'components/divider';
@use 'components/dropdown';
@use 'components/footer';
@use 'components/go-to-desktop';
@use 'components/header';
@use 'components/hero-panel';
@use 'components/icon-pair';
@use 'components/interest-rate-model';
@use 'components/load-spinner';
@use 'components/logo';
@use 'components/market-history-panel';
@use 'components/market-overview-panel';
@use 'components/market-selector';
@use 'components/masthead';
@use 'components/meter';
@use 'components/modal';
@use 'components/page';
@use 'components/panel';
@use 'components/position-card';
@use 'components/rewards';
@use 'components/svg';
@use 'components/theme-toggle';
@use 'components/tooltip';
@use 'components/utilization-meter';

@use 'pages/home';
@use 'pages/markets';
@use 'pages/extensions';
@use 'pages/app';

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.placeholder-content {
  position: relative;
  display: inline-block;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0.125rem;
    bottom: 0.125rem;
    left: 0;
    right: 0;
    animation: content-loading 1.2s linear infinite alternate;
    background: $neutral--50;
    border-radius: 4px;
  }

  &:after {
    content: '\00a0';
  }

  &--circle {
    height: 100%;

    &:before {
      top: 0;
      bottom: 0;
      border-radius: 50%;
    }
  }
}

@keyframes content-loading {
  0% {
    background: rgba($neutral--50, 0.1);
  }
  100% {
    background: rgba($neutral--50, 0.3);
  }
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.woff2') format("woff2"), url('/fonts/Inter-Regular.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.MuiTypography-root {
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}

.backdrop {
    width: 39rem;
    height: 39rem;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -1;
    background: linear-gradient(180deg, #f0014f 0%, #111111 100%);
    opacity: 0.5;
    box-shadow: 0px -90px 50px rgba(238, 2, 70, 0.08);
    filter: blur(1.75rem);
}

body {
    color: white;
    background: black;
}

/* } */

input[type='number'] {
    -moz-appearance: textfield;
}

/* >>> Onboard theme */

:root {
    --background-color:#191b1f;
    --accent-background:#2d2f35;
    --accent-color-hover:#2d2f35;
    --text-color:#e8e8e8;
    --secondary-text-color:#e8e8e8;
    --border-color:#3b404a;
    --onboard-close-button-color:var(--secondary-text-color);
    --onboard-wallet-button-background-hover:var(--accent-background);
    --onboard-wallet-button-color-hover:var(--text-color);
    --accent-color:#f6145e;
    --accent-color-hover:#f0014f;
    --onboard-connect-sidebar-background:var(--accent-background);
    --onboard-close-button-background:var(--accent-background);
    --onboard-connect-sidebar-color:var(--text-color);
    --onboard-connect-sidebar-progress-background:var(--secondary-text-color);
    --onboard-connect-sidebar-progress-color:var(--accent-color);
    --onboard-connect-header-background:var(--background-color);
    --onboard-connect-header-color:var(--text-color);
    --onboard-main-scroll-container-background:var(--background-color);

    /* --onboard-link-color: var(--accent-color); */
    --onboard-wallet-button-color:var(--text-color);
    --onboard-wallet-button-background:var(--background-color);
    --onboard-wallet-button-border-color:var(--border-color);
    --onboard-wallet-app-icon-border-color:var(--border-color);

    /* --onboard-font-family-normal: "Inter";
    --onboard-font-family-semibold: "Inter";
    --onboard-font-family-light: "Inter"; */
}

/* <<< Onboard theme */

/* For WebKit-based browsers (Chrome, Safari) and Firefox */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background-color: #2d2f35;
}

/* Thumb */

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;

    &:hover {
        background-color: #555;
    }
}

/* Thumb on hover */

/* Button (arrows) at the ends of the scrollbar */

::-webkit-scrollbar-button {
    display: none;
}

